<!DOCTYPE html>

@{
    Layout = null;
}


@model Reservation.Entities.Client;
<html>

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap" rel="stylesheet">
    <title>Mysite</title>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>

<body>
<div class="intro">
             @using (Html.BeginForm("Delete", "Client", FormMethod.Post, new {style="margin-left: 800px;top: 100px;"}))
                {
                    <div style="height: 300px; width: 200px; padding-left: 15px; background-color: white;border-radius: 10px; ">
                    <p>
                        <h4>
                        @Html.LabelFor(m => m.SurName, "Имя",new {style = "color:black"})<br/>
                        @Html.TextBoxFor(m => m.Name)
                        </h4>
                    </p>
                    <p>
                        <h4>
                        @Html.LabelFor(m => m.Name, "Фамилия",new {style = "color:black"})<br/>
                        @Html.TextBoxFor(m => m.SurName, "", new {type = "Фамилия"})
                        </h4>
                    </p>
                    <p>
                        <h4>
                            @Html.LabelFor(m => m.PhoneNumber, "Номер телефона",new {style = "color:black"})<br/>
                            @Html.TextBoxFor(m => m.PhoneNumber)
                        </h4>
                    </p>
                    <p>
                        <h4>
                            @Html.LabelFor(m => m.Id, "Личный номер(Id)",new {style = "color:black"})<br/>
                            @Html.TextBoxFor(m => m.Id)
                        </h4>
                    </p>
                    
                        <p>
                            <input  type="submit" value="Удалить" class="nav__link"/>
                        </p>
                        </div>
                }
        </div>

</body>
</html>