<!DOCTYPE html>

@{
    Layout = null;
}


@model Reservation.Entities.Client;
<html>

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap" rel="stylesheet">
    <title>Mysite</title>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>

<body>
<header class="header">
         <div class="container">
             <div class="header__inner">
                 <div class="header__logo" title="На главную">
                 @* <a class="nav__link" href="" target="_blank" >Забронировать столик</a> *@
                 @Html.ActionLink("My Restourant", "Index", "Home", null, new {@class = "nav__link"})
                 </div>
             </div>
         </div>
     </header>
<div class="intro">
   

            @using (Html.BeginForm("Create", "Client", FormMethod.Post,new {style="margin-left: 800px;top: 100px;"}))
            {
                <p>
                    <h1>
                        @Html.LabelFor(m => m.Name, "Имя")<br/>
                        @Html.TextBoxFor(m => m.Name)
                    </h1>
                </p>
                <p>
                    <h1>
                        @Html.LabelFor(m => m.SurName, "Фамилия")<br/>
                        @Html.TextBoxFor(m => m.SurName, "", new {type = "Фамилия"})
                    </h1>
                </p>
                <p>
                    <h1>

                        @Html.LabelFor(m => m.PhoneNumber, "Номер телефона")<br/>
                        @Html.TextBoxFor(m => m.PhoneNumber)
                    </h1>
                </p>
                <p>
                    <input type="submit" style="background-color: #98fff0;border-color: #98fff0"  value="Отправить" class="nav__link"/>
                </p>
            }
     
</div>

</body>
</html>