<!DOCTYPE html>

@{
    Layout = null;
}


@model WebApp.ViewModel.ClientReservationViewModel;
<html>

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap" rel="stylesheet">
    <title>Mysite</title>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>

<body>
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">My Restourant</div>
        </div>
    </div>
</header>
<div class="tablee">
    @using (Html.BeginForm("GetReservation", "Reservation", FormMethod.Post, new {@class = "bg"}))
    {
        <p>
            @Html.LabelFor(m => m, "Дата")<br/>
            @Html.TextBoxFor(model => model.CreateDateTime, new {type = "datetime-local"})
        </p>
        <p>
            @Html.LabelFor(m => m.Name, "Имя")<br/>
            @Html.TextBoxFor(m => m.Name)
        </p>
        <p>
            @Html.LabelFor(m => m.Surname, "Фамилия")<br/>
            @Html.TextBoxFor(m => m.Surname)
        </p>
        <p>
            @Html.LabelFor(m => m.PhoneNumber, "Номер телефона")<br/>
            @Html.TextBoxFor(m => m.PhoneNumber, new {type = "phonenNumber"})
        </p>
        <p>
            <input  style="margin: 10px;border-color: black;border-width: 3px;"  type="submit" value="Забронировать"  class="nav__link"/>
        </p>
    }
</div>

</body>
</html>